ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-style: normal;
}

img {
    display: block;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}

.gallery-item {
}

.gallery-link {

}

.gallery-image {
width: 360px;
    height: 200px;
}